/* common shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 920px;
    margin: 0 auto;
}
/* header related style */
header{
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
    padding-top: 50px;
}
header img{
    width: 100%;
    padding-bottom: 0;
    margin-left: 20px;
    margin-bottom: -4px;
}
.header_title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.header_description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0;
}
.btn{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* hot deal ! sale up Related style */
#hot_deal{
    background: rgba(229, 84, 115, 0.10);
    margin: 128px 0 128px;
}
.hot_deal_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 186px;
    padding: 100px 0;
}
.hot_deal_right_part img{
    width: 100%;
}
.hot_deal_title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hot_deal_description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0 32px;
}
.hot_deal_right_part img{
    width: 100%;
}
.off{
    color: #E55473;
}
/* instagram related style */
#instagram {
    text-align: center;
    padding-bottom: 128px;
}
.boxs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box img{
    width: 100%;
    padding-bottom: 0;
}
.instagram_title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 24px;
}
.instagram_description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-bottom: 48px;
}
/* latest deal related style */
.latest_deals{
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 150px;
}
.latest_containd{
    text-align: center;
}
.latest_form{
    text-align: center;
    align-items: center;
}
.latest_title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.latest_description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 16px 0 48px;
}

.email{
    width: 500px;
    height: 54px;
    border-radius: 5px;
    margin-right: 10px;


}
.latest_containd{
    padding: 122px 0 122px;
}
/* footer related style */
footer{
    background: black;
    color: #fff;
    text-align: center;
}
.footer_container{
    padding: 50px 0;
}
.title{
    color: #fff;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.description{
    color: rgba(232, 231, 231, 0.9);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 24px 0 32px;
}
footer h6{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* ========Featured Flowers============ */
.featured{
    text-align: center;
    margin-bottom: 128px;
}
.featured_title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}
.featured_description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.row{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 48px;

}
.col1{
    width: 264px;
height: 338px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.col1 img{
    width: 230px;
    padding-top: 21px;
}
.col2{
    width: 264px;
height: 338px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.col2 img{
    width: 230px;
    padding-top: 70px;
}
.col3{
    width: 264px;
height: 338px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.col3 img{
    width: 190px;
    padding-top: 53px;
}
.f{
    margin-top: 22px;
}
.f a{
    color: black;
    
}
/* axtra related style */
.extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 86px 0;
}
.extra_work{
background: rgba(39, 39, 39, 0.05);
}
